.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the App takes full height */
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #6495ED;
    color: white;
}

.logo img {
    height: 80px;
    margin-right: 10px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-height: 0; /* Add this to prevent the container from shrinking incorrectly */
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center; /* Center align items vertically */
    gap: 10px; /* Add spacing between elements */
    margin-bottom: 20px;
}

.searchBar input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
}

.searchBar button {
    padding: 10px 20px;
    background-color: #00aaff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.searchBar button:hover {
    background-color: #0099dd;
}

.searchBar button:nth-child(3) {
    background-color: #ffcc00; /* A contrasting color for the compare button */
    color: #333;
}

.searchBar button:nth-child(3):hover {
    background-color: #e6b800;
}

.viewSelection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.viewSelection h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #333; /* Darker gray for a more corporate feel */
    margin-bottom: 30px;
}

.viewSelectionButtons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.actionButtons {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.locationWeatherCard {
    background-color: #f0f8ff; /* Light blue background for emphasis */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.locationWeatherCard h3 {
    display: flex;
    align-items: center; /* Aligns icon and text */
    justify-content: center; /* Centers the text and icon */
    margin-bottom: 10px;
    font-size: 1.4em;
}

.locationWeatherCard p {
    font-size: 1.2em;
    margin: 5px 0;
}

.locationWeatherCardIcon {
    font-size: 4em; /* Make the weather icon larger for emphasis */
    margin-bottom: 10px;
}

.geoIcon {
    margin-left: 10px; /* Adds spacing between text and icon */
    font-size: 1.2em;
    color: #007bff; /* Blue color for location indicator */
}

.cityName {
    font-size: 1.5em; /* Increase city name size */
    font-weight: bold; /* Make it bolder */
    color: #007bff; /* A slight blue shade for emphasis */
    margin-top: 5px;
}


.footer {
    background-color: #6495ED;
    color: #fff;
    padding-top: 40px;
    text-align: center;
    margin-top: 40px; /* Ensures the footer stays at the bottom */
}

.loading {
    font-size: 1.2em;
    text-align: center;
    padding: 20px;
    color: #555;
}
