# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
Pipfile.lock
*.venv
venv/
env/
ENV/

# Ignore environment variables
.env

# Ignore PyCharm specific files and directories
.idea/
*.iml

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.swp
