.weatherCardContainer {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherCardTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.weatherDetails {
  text-align: center;
}

.temperature {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.description {
  font-size: 16px;
  color: #555;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
    width: 200px;
}

.card:hover {
    transform: translateY(-10px); /* Lift effect on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow */
}

h4 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin: 5px 0;
    color: #555;
}

