.weatherInputContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.inputField {
  flex-grow: 2;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.searchButton {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: #217dbb;
}
