.favoriteCitiesContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favoriteCityCard {
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fff8e1;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.removeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  color: #ff6961;
}

.removeButton:hover {
  background-color: #ffffff;
}
.weatherDetails {
  text-align: center;
}

.favoriteCityCard h3 {
  font-size: 18px;
  margin-bottom: 8px;
}
